<div class="container mt-4">
  <h1>Create Review</h1>

  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p><strong>Rating:</strong> <%= @review.rating %></p>
  <p><strong>Content:</strong> <%= @review.content %></p>

  <%= link_to 'Back to Restaurant', restaurant_path(@review.restaurant), class: 'btn btn-secondary' %>
</div>
